<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina-inicial</title>
</head>
<body>
    {% include "header.html" %}

    <main>
        <h1>Seja bem-vindo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Quis quasi aperiam similique aliquid hic deleniti non 
             quibusdam possimus ipsam! Nostrum facere exercitationem 
            alias eos reiciendis repellat impedit modi amet quisquam!</p>
    </main>

    {% include "footer.html" %}
    
</body>
</html>